@using OnlinePermissionSlips.Models.ViewModels;
@model ClassRoomImport

@{
	ViewBag.Title = "Import Students";
}

<div class="jumbotron">
	<h1>Import Students</h1>
	<p class="lead">@Model.SchoolName - @Html.Raw(Model.TeacherName) (Room @Model.RoomNumber)</p>
</div>


<div class="row">
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ID)
			@Html.HiddenFor(model => model.SchoolID)
			@Html.HiddenFor(model => model.SchoolName)
			@Html.HiddenFor(model => model.TeacherName)
			@Html.HiddenFor(model => model.RoomNumber)

			<div class="col-md-12">
				<input type="file" id="fileUploadCSV" style="display:none" />
				<div class="btn btn-primary" id="btnUploadCSV">Import From CSV <span class="glyphicon glyphicon-upload"></span></div>
				<input id="appendEntries" type="checkbox" checked /> Append Existing Entries
			</div>

			<div class="form-group">
				<div id="studentList">
					<table class="table">
						<tr>
							<th>Student ID</th>
							<th>Student Name</th>
							<th>Guardian 1 Email</th>
							<th>Guardian 2 Email</th>
							<th></th>
						</tr>
						<tbody id="StudentCSVRowsToImport">
							@foreach (StudentImport student in Model.Students)
							{
								@Html.EditorFor(model => student);
							}
						</tbody>
					</table>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<a href="#" id="addStudent" name="addStudent" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Student</a>
				</div>
			</div>
			<hr />
			<div class="form-group">
				<div class="col-md-offset-1 col-md-11">
					<button type="submit" class="btn btn-primary">Save <span class="glyphicon glyphicon-floppy-disk"></span> &amp; Send <span class="glyphicon glyphicon-envelope"></span></button>
					<a href="@Url.Action("Edit","Classrooms", new { id = Model.ID })" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</div>
	}
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script src="~/Scripts/papaparse.min.js"></script>

	<script type="text/javascript">
		$('#addStudent').on('click', function () {
			$.ajax({
				url: '/ClassRooms/AddStudentImport',
				cache: false,
				type: "POST",
				success: function (partialView) {
					console.log(partialView);
					$('#StudentCSVRowsToImport').append(partialView);
				},
				error: function () {
					console.log('Error Processing AddStudent Call');
				}
			});
		});


		$(document).on("click", "#deleteRow", function () {
			$(this).parents("#studentRow:first").remove();
			return false;
		});

		function create_UUID() {
			var dt = new Date().getTime();
			var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
				var r = (dt + Math.random() * 16) % 16 | 0;
				dt = Math.floor(dt / 16);
				return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
			});
			return uuid;
		}

		function ProcessFileToTable() {
			var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/; //regex for Checking valid file names .csv or .txt
			if (regex.test($("#fileUploadCSV").val().toLowerCase())) {
				if (typeof (FileReader) != "undefined") {
					var reader = new FileReader();
					reader.onload = function (e) {
						var papaConfig = {
							delimiter: ",",
							newline: "\r\n",
							quoteChar: '"',
							escapeChar: '"',
							header: true,
							dynamicTyping: false,
							preview: 0,
							encoding: "",
							worker: false,
							comments: false,
							step: undefined,
							complete: undefined,
							error: undefined,
							download: false,
							skipEmptyLines: false,
							chunk: undefined,
							fastMode: undefined,
							beforeFirstChunk: undefined,
							withCredentials: undefined
						};

						var csvData = Papa.parse(e.target.result, papaConfig);
						console.log(csvData);

						for (i = 0; i < csvData.data.length; i++) {
							var fieldID = create_UUID();
							var htmlRow = ""

							htmlRow += "<tr id=\"studentRow\">";

							htmlRow += "<td>";
							htmlRow += "<input type=\"hidden\" name=\"Students.index\" autocomplete=\"off\" value = \"" + fieldID + "\">";
							htmlRow += "<input class=\"form-control text-box single-line\" id=\"Students_" + fieldID + "_StudentNumber\" name=\"Students[" + fieldID + "].StudentNumber\" type=\"Number\" value=\"" + csvData.data[i].StudentNumber.replace("\"", "&quot;") + "\" />";
							htmlRow += "</td>";

							htmlRow += "<td>";
							htmlRow += "<input class=\"form-control text-box single-line\" id=\"Students_" + fieldID + "_FullName\" name=\"Students[" + fieldID + "].FullName\" type=\"text\" value= \"" + csvData.data[i].FullName.replace("\"", "&quot;") + "\" />";
							htmlRow += "</td>";

							htmlRow += "<td>";
							htmlRow += "<input class=\"form-control text-box single-line\" id=\"Students_" + fieldID + "_Guardian1TempEmail\" name=\"Students[" + fieldID + "].Guardian1TempEmail\" type=\"text\" value= \"" + csvData.data[i].Guardian1TempEmail.replace("\"", "&quot;") + "\" />";
							htmlRow += "</td>";

							htmlRow += "<td>";
							htmlRow += "<input class=\"form-control text-box single-line\" id=\"Students_" + fieldID + "_Guardian2TempEmail\" name=\"Students[" + fieldID + "].Guardian2TempEmail\" type=\"text\" value= \"" + csvData.data[i].Guardian2TempEmail.replace("\"", "&quot;") + "\" />";
							htmlRow += "</td>";


							htmlRow += "<td>";
							htmlRow += "<a href=\"#\" id=\"deleteRow\" class=\"deleteRow btn btn-danger\"><span class=\"deleteRow glyphicon glyphicon-minus\"></span> Remove Student</a>";
							htmlRow += "</td>";

							htmlRow += "</tr>";

							$("#StudentCSVRowsToImport").append(htmlRow);
						}
					}
					reader.readAsText($("#fileUploadCSV")[0].files[0]);
				}
				else {
					alert("This browser does not support HTML5.");
				}
			} else if (($("#fileUploadCSV").val() != null) && ($("#fileUploadCSV").val().length > 0)) {
				alert("Select a valid CSV File.");
			}
		}

		$("#fileUploadCSV").bind("change", function () {
			if ($("#appendEntries")[0].checked == false) {
				$("#StudentCSVRowsToImport").empty();
			}
			ProcessFileToTable();
			$("#fileUploadCSV").val(null);
		});

		$("#btnUploadCSV").bind("click", function () {
			//Execute click on File Upload
			$("#fileUploadCSV").click();
		});
	</script>
}
