@model IEnumerable<OnlinePermissionSlips.Models.DAL.PermissionSlip>

@{
	ViewBag.Title = "Permission Slips";
}

<h2>Permission Slips</h2>

<br />
<p>
	<a href="@Url.Action("Create", "PermissionSlips", null, protocol: Request.Url.Scheme)" class="btn btn-primary">Create New Permission Slip <span class="glyphicon glyphicon-plus-sign" /></a>
</p>
<table class="table">
	<tr>
		<th></th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Location)
		</th>
		<th>
			<label>Date/Time</label>
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Cost)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RequireChaperone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.RequireChaperoneBackgroundCheck)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<a href="@Url.Action("Print", "PermissionSlips", new { id = item.ID })" id="PrintBtn" class="btn btn-primary" target="_blank"><span class="glyphicon glyphicon-print"></span></a>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Location)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.StartDateTime) -  @Html.DisplayFor(modelItem => item.EndDateTime)
			</td>
			<td>
				$@Html.DisplayFor(modelItem => item.Cost)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RequireChaperone)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.RequireChaperoneBackgroundCheck)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
				@Html.ActionLink("Details", "Details", new { id = item.ID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.ID })
			</td>
		</tr>
	}

</table>
